:root {
  --bgColor: AliceBlue;
  --textColor: MidnightBlue;
  --headerColor: SteelBlue;
  --warningColor: Coral;
  --successColor: DarkSeaGreen;
}

body {
  background-color: var(--bgColor);
}

table {
  margin: auto;
  width: 80%;
}
th,
td {
  border-bottom: solid 1px var(--headerColor);
  padding: 0, 2%;
  color: var(--textColor);
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}

form {
  margin: auto;
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  padding: 0;
}

input {
  width: 25%;
  margin: 2px 2%;
  border: solid 1px var(--textColor);
  background-color: var(--bgColor);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  color: var(--textColor);
}

textarea {
  width: 74%;
  margin: 2px 2%;
  border: solid 1px var(--textColor);
  background-color: var(--bgColor);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  color: var(--textColor);
}

label {
  width: 15%;
  margin: 2px 2%;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  color: var(--textColor);
}

.btn-red {
  background-color: var(--warningColor);
  border: 1px solid var(--textColor);
  width: 25%;
  max-width: 120px;
  border-radius: 10%;
  padding: 2px 10px;
  text-decoration: none;
  color: var(--bgColor);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  font-weight: normal;
}

.btn-green {
  background-color: var(--successColor);
  border: 1px solid var(--textColor);
  width: 25%;
  max-width: 120px;
  border-radius: 10%;
  padding: 2px 10px;
  text-decoration: none;
  color: var(--bgColor);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  font-weight: normal;
}

.btn-blue {
  background-color: var(--headerColor);
  border: 1px solid var(--textColor);
  width: 25%;
  max-width: 120px;
  border-radius: 10%;
  padding: 2px 10px;
  text-decoration: none;
  color: var(--bgColor);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  font-weight: normal;
}