:root {
  --bgColor: AliceBlue;
  --bg2Color: PaleTurquoise;
  --textColor: MidnightBlue;
  --headerColor: SteelBlue;
  --warningColor: Coral;
  --successColor: DarkSeaGreen;
}

body {
  background-color: var(--bgColor);
}

.logout {
  justify-content: right;
}

.logout-btn {
  background-color: var(--headerColor);
  border: 2px solid var(--textColor) !important;
  width: 25% !important;
  max-width: 120px !important;
  border-radius: 5px;
  padding: 2px 10px;
  text-decoration: none;
  color: var(--bgColor);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  font-weight: bold;
}

.logout-btn:hover {
  background-color: var(--textColor) !important;
  color: var(--bgColor) !important;
}

h1 {
  color: var(--headerColor);
  text-align: center;
  font-size: 28px;
  font-family: Arial, Helvetica, sans-serif;
  width: 100%;
}

nav {
  background-color: var(--headerColor);
  margin: auto;
  height: 40px;
  width: 90%;
  display: flex;
  flex-direction: row;
  align-items: center;
}

nav a {
  color: var(--bgColor);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  padding: 15px 50px;
  text-decoration: none;
}

.active {
  text-decoration: underline var(--warningColor);
}

table {
  margin: auto;
  width: 90%;
}
th,
td {
  border-bottom: solid 1px var(--headerColor);
  padding: 0, 2%;
  color: var(--textColor);
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}