:root {
  --bgColor: AliceBlue;
  --bg2Color: PaleTurquoise;
  --textColor: MidnightBlue;
  --headerColor: SteelBlue;
  --warningColor: Coral;
  --successColor: DarkSeaGreen;
}

.btn-red {
  background-color: var(--warningColor);
  border: 1px solid var(--textColor);
  width: 25%;
  max-width: 120px;
  border-radius: 10%;
  padding: 2px 10px;
  text-decoration: none;
  color: var(--bgColor);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  font-weight: normal;
}

.btn-green {
  background-color: var(--successColor);
  border: 1px solid var(--textColor);
  width: 25%;
  max-width: 120px;
  border-radius: 10%;
  padding: 2px 10px;
  text-decoration: none;
  color: var(--bgColor);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  font-weight: normal;
}

.btn-blue {
  background-color: var(--headerColor);
  border: 1px solid var(--textColor);
  width: 25%;
  max-width: 120px;
  border-radius: 10%;
  padding: 2px 10px;
  text-decoration: none;
  color: var(--bgColor);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  font-weight: normal;
}

.btn-white {
  background-color: var(--bgColor);
  border: 1px solid var(--textColor);
  width: 25%;
  max-width: 120px;
  border-radius: 10%;
  padding: 2px 10px;
  text-decoration: none;
  color: var(--headerColor);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  font-weight: normal;
}