<!DOCTYPE html>
<html lang="en">
  <html xmlns="http://www.thymeleaf.org">
    <head>
      <meta charset="UTF-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <link rel="stylesheet" href="/admin.css" />
      <title>Welcome to DiveSite</title>
    </head>
    <body>
      <form class="login" th:action="@{/login}" method="post">
        <h1>Log in</h1>
        <label>Username :</label>
        <input type="text" name="username" />
        <label>Password:</label>
        <input type="password" name="password" />
        <label></label>
        <input type="submit" value="Log in" />
        <p th:if="${param.error}">Invalid username and password.</p>
        <br>
        <p>Don't have an account? <a  th:href="@{/register}">Register here</a></p>
      </form>
    </body>
  </html>
</html>
