<!DOCTYPE html>
<html lang="en">
  <html xmlns="http://www.thymeleaf.org">
    <head>
      <meta charset="UTF-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <link rel="stylesheet" href="/admin.css" />
      <title>Welcome to DiveSite</title>
    </head>
    <body>
      <div class="login">
        <h1>Welcome to DiveSite!</h1>
        <a class="login-btn" th:href="@{/login}">Log in</a>
        <p>or</p>
        <a class="login-btn" th:href="@{/register}">Register as user</a>
        <!-- Temporary! -->
         <form class="logout" th:action="@{/logout}" method="post">
          <input class="btn-logout" type="submit" value="Log out" />
        </form>
      </div>
    </body>
  </html>
</html>
